Node-RED flow/flows (1).json
[{"id":"e63bc915.781688","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10c7ec66.a19a04","type":"function","z":"e63bc915.781688","name":"PreToken","func":"global.set(\"lv\",msg.payload.lv)\nglobal.set(\"wSpd\",msg.payload.wSpd)\nglobal.set(\"wDir\",msg.payload.wDir)\nglobal.set(\"mon\",msg.payload.mon)\nglobal.set(\"day\",msg.payload.day)\nglobal.set(\"hr\",msg.payload.hr)\nglobal.set(\"yr\",msg.payload.yr)\nvar apikey=\"kDP_k4wL37ReoyyQR0gQmsH3gqoAwQel0hRhXuZV-Fjc\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["d8f3d09e.765d6"]]},{"id":"d8f3d09e.765d6","type":"http request","z":"e63bc915.781688","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":260,"wires":[["2ea9246f.e3db4c"]]},{"id":"64db4f5a.7953c","type":"inject","z":"e63bc915.781688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["10c7ec66.a19a04"]]},{"id":"7dfb2584.29cd6c","type":"debug","z":"e63bc915.781688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"2ea9246f.e3db4c","type":"function","z":"e63bc915.781688","name":"Pre Prediction","func":"var lv = global.get('lv')\nvar wSpd = global.get('wSpd')\nvar wDir = global.get('wDir')\nvar mon = global.get('mon')\nvar day = global.get('day')\nvar hr = global.get('hr')\nvar yr = global.get('yr')\nvar token=msg.payload.access_token\nvar instance_id=\"48bbedc7-82d9-42e5-b264-bb3233048f5d\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"LV ActivePower (kW)\",\"Wind Speed (m/s)\",\"Wind Direction (°)\", \"Month\", \"Day\", \"Hour\", \"Year\"], \"values\": [[lv,wSpd,wDir,mon,day,hr,yr]]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["ca61f932.9d40f8"]]},{"id":"ca61f932.9d40f8","type":"http request","z":"e63bc915.781688","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/48bbedc7-82d9-42e5-b264-bb3233048f5d/deployments/9ed3747a-b247-4f34-a2a1-c90965d36314/online","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":260,"wires":[["a76f559f.3c4728"]]},{"id":"264d0185.e5100e","type":"ui_form","z":"e63bc915.781688","name":"","label":"Predicting Wind Energy","group":"a50d1238.d4866","order":1,"width":0,"height":0,"options":[{"label":"LV ActivePower (kW)","value":"lv","type":"number","required":true,"rows":null},{"label":"Wind Speed (m/s)","value":"wSpd","type":"number","required":true,"rows":null},{"label":"Wind Direction (°)","value":"wDir","type":"number","required":true,"rows":null},{"label":"Month","value":"mon","type":"number","required":true,"rows":null},{"label":"Day","value":"day","type":"number","required":true,"rows":null},{"label":"Hour","value":"hr","type":"number","required":true,"rows":null},{"label":"Year","value":"yr","type":"number","required":true,"rows":null}],"formValue":{"lv":"","wSpd":"","wDir":"","mon":"","day":"","hr":"","yr":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":150,"y":360,"wires":[["10c7ec66.a19a04"]]},{"id":"4e53bb45.b01814","type":"ui_text","z":"e63bc915.781688","group":"a50d1238.d4866","order":2,"width":0,"height":0,"name":"","label":"Predicted Energy (kWh)","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":180,"wires":[]},{"id":"a76f559f.3c4728","type":"function","z":"e63bc915.781688","name":"Output","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["7dfb2584.29cd6c","4e53bb45.b01814"]]},{"id":"a50d1238.d4866","type":"ui_group","z":"","name":"Default","tab":"8713df88.c3364","order":1,"disp":false,"width":"6","collapse":false},{"id":"8713df88.c3364","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]